<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bio</title>
</head>
<body>
  <h1>Register</h1>
  <form action="/register" method="post">
    <input type="text" name="fullname" placeholder="fullname" required><br><br>
    <input type="date" name="birthdate" placeholder="birthdate" required><br><br>
    <input type="text" name="companyName" placeholder="companyName" required><br><br>
    <input type="radio" name="treeType" value="uniLevel" checked>Unilevel<br>
    <input type="radio" name="treeType" value="matrix">Matrix<br>
    <input type="radio" name="treeType" value="binary">Binary<br>
    <input type="radio" name="treeType" value="stairStep">Stairtep<br><br>
    <input type="submit">
  </form>
</body>
</html>